<div class="film-card">
  <div class="film-card__poster">
    <img [src]="film.posterUrl" [alt]="film.title" />
    <button class="film-card__fav" [class.is-active]="film.isFavorite" (click)="toggleFavorite($event)">
      <svg viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M12 21.593c-5.63-5.539-11-10.297-11-14.402 0-3.791 3.068-5.191 5.281-5.191 1.312 0 4.151.501 5.719 4.457 1.59-3.968 4.464-4.447 5.726-4.447 2.54 0 5.274 1.621 5.274 5.181 0 4.069-5.136 8.625-11 14.402z" />
      </svg>
    </button>
  </div>

  <div class="film-card__body">
    <div class="film-card__top">
      <h3 class="film-card__title">{{ film.title }}
      </h3>
      <span class="film-card__genre">{{ film.genre }}</span>
    </div>
    <div class="film-card__meta">
      <div>{{ formatDuration(film.duration) }}</div>
      <div>{{ film.year }}</div>
    </div>
    <div class="film-card__rating">
      <svg class="film-card__star" viewBox="0 0 24 24" fill="currentColor">
        <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z" />
      </svg>
      <span>{{ film.rating }}</span>
    </div>
  </div>
</div>